#friend-status-container {
    background-color: transparent;
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    position: relative;
    margin-left: 10px;
}

#friend-status-container p {
    padding: 5px;
    background-color: #36A420;
    font-size: 14px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

#friends-div {
    display: flex;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

#friends img {
    width: 25px;
    height: 25px;
    /* background-color: transparent; */
    border: none;
}

#friends {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2px 8px 2px 5px;
    font-size: 14px;
    background-color: #E4E6EB;
}

#friends p {
    background-color: #E4E6EB;
}

#send-request-button {
    padding: 5px;
    background-color: #1674ea;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    border: none;
}

#show-rel-div {
    display: flex;
    padding: 8px;
    background-color: #fff;
    position: absolute;
    bottom: 26px;
    right: -50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(224, 218, 218);
}

#show-rel-div img {
    width: 25px;
    height: 20px;
}

#show-rel-div button {
    border: none;
    background-color: #FFF;
    padding: 0 5px 0 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

#show-rel-div button:hover {
    background-color: #E4E6E8;
}