#edit-post-container {
    background-color: pink;
    border-radius: 10px;
}

#edit-post-title {
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
}

#edit-post-title h3{
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #F0F1F3;
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
}

#edit-post-user {
    display: flex;
    gap: 10px; 
    padding: 16px;
    background-color: #FFF;
}

#edit-post-user p {
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#edit-post-user a {
    background-color: #FFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#edit-post-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#edit-post-form {
    border-radius: 0 0 10px 10px;
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

#edit-post-form textarea {
    background-color: #FFF;
    border: none;
    width: 100%;
    height: 200px;
    font-size: 16px;    
    margin-bottom: 10px;
    padding: 16px;
    resize: none;
    outline: none;
}

#edit-image-div textarea {
    height: fit-content;
    width: 100%;
    padding: 16px;
    border: none;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #F0F1F3;
    outline: none;
}

#edit-image-div {
    background-color: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

#edit-image-div i {
    background-color: #FFF;
    color: #41B35D;
}

#edit-video-div {
    background-color: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 16px;
}

#edit-video-div textarea {
    height: fit-content;
    width: 100%;
    padding: 16px;
    border: none;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #F0F1F3;
    outline: none;
}

#edit-video-div i {
    background-color: #FFF;
    color: #41B35D;
}


#edit-post-button-disabled {
    background-color: #E4E6EB;
    border: none;
    font-size: 16px;
    width: 250px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: #BEC2C6;
}


#edit-post-button-active {
    background-color: #1A6ED8;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: #FFF;
}

/*Delete post*/

#delete-post-container {
    border-radius: 10px;
    background-color: #FFF;
    /* padding: 16px; */
}

#delete-post-container h3 {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #F0F1F3;
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
}
#delete-post-container p {
    background-color: #FFF;
    padding: 0 16px 16px 16px;
    font-size: 14px;
    margin: 16px 0;
}
#delete-post-container button {
    /* background-color: #FFF; */
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


#delete-post-button-div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    background-color: #FFF;
    margin: 16px 16px;
}

#cancel-delete {
    color: #1A6ED8;
    cursor: pointer;
    background-color: #FFF;
}

#cancel-delete:hover {
    background-color: #F0F2F5;
}

#confirm-delete {
    background-color: #1A6ED8;
    color: #FFF;
    cursor: pointer;
}