#like {
    border: none;
    background-color: #FFF;
    padding: 10px 0;
    border-top: 1px solid #BEC3C9;
    border-bottom: 1px solid #BEC3C9;
    width: 100%;
    /* margin-bottom: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#like i {
    color: #1674EA;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

#dislike {
    border: none;
    background-color: #FFF;
    padding: 10px 0;
    border-top: 1px solid #BEC3C9;
    border-bottom: 1px solid #BEC3C9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#dislike i {
    /* color: #F0F2F5; */
    font-size: 20px;
    border: none;
    background-color: transparent;
    
}

#like-p {
    display: flex;
    align-items: center;
    color: #1674EA;
    background-color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

#dislike-p {
    display: flex;
    align-items: center;
    background-color: #FFF;
    font-size: 14px;
}