#like {
    border: none;
    background-color: #FFF;
    padding: 6px 10px;
    /* border-top: 1px solid #BEC3C9;
    border-bottom: 1px solid #BEC3C9; */
    width: 15%;
    /* margin-bottom: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #1674EA;
    font-size: 14px;
    font-weight: bold;
}

#like i {
    color: #1674EA;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

#dislike {
    border: none;
    background-color: #FFF;
    padding: 6px 10px;
    /* border-top: 1px solid #BEC3C9;
    border-bottom: 1px solid #BEC3C9; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#dislike i {
    /* color: #F0F2F5; */
    font-size: 20px;
    border: none;
    background-color: transparent;
    
}


#like:hover {
    background-color: #F0F2F5;
}

#dislike:hover {
    background-color: #F0F2F5;
}

