#friends-container {
    padding: 20px 10px 20px 10px;
}

@media screen and (max-width: 414px) {
    #friends-container {
        display: none;
    }
}

#friends-container p {
    padding: 10px 0;
}

#friends-list {
    list-style: none;
}

#friends-list img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#friends-list a {
    display: flex;
    gap: 5px;
    text-decoration: none;
    /* margin: 10px 0 10px 0; */
    padding: 8px;
    border-radius: 5px;
    align-items: center;
}

#friends-list a:hover {
    background-color: #E4E6E8;
}

#friends-list p {
    display: flex;
    align-items: center;
    font-size: 16px;
}

#delete-friend-rel-container {
    /* padding: 16px; */
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F0F1F3;
    border-radius: 10px 10px 0 0;
}

#header h3{
    text-align: center;
    padding: 16px;
    
    border-radius: 10px 0 0 0;
    background-color: #FFF;
    width:90%;
}

#header i {
    background-color: #FFF;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 10px 0 0;
}

#delete-friend-rel-container p{
    background-color: #FFF;
    padding: 16px;
    text-align: center;
}

#friend-rel-buttons {
    background-color: #FFF;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

#friend-rel-buttons button {
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}


