

#nav-bar {
  width: 100%;
  height: 56px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  z-index: 2;
}

#nav-link {
  text-decoration: none;
  background-color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  color: #1674EA;
}

#nav-bar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#nav-user-info {
      position: absolute;
      top: 50px;
      right: 30px;
      padding: 10px;
      background-color: #FFFFFF;
      border-radius: 5px;
      box-shadow: 0 0 10px rgb(224, 218, 218);
}

#nav-user-info a {
  text-decoration: none;
}


#nav-user-info p {
  background-color: #FFFFFF;
  border-bottom: 1px solid #393c3f;
  padding: 5px;
}

#nav-user-info p:hover {
  background-color: #F0F2F5;
}

#nav-user-info button {
  border: none;
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

#nav-user-info i {
  background-color: #FFFFFF;
}

#nav-user-info button:hover {
  background-color: #F0F2F5;
}

