#signup-modal {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-radius: 10px;
}

#sign-up-title {
    border-bottom: 1px solid #F0F1F3;
    background-color: #FFFFFF;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    border-radius: 10px 10px 0 0;
    
}

#sign-up-title h1, 
#sign-up-title p {
    background-color: #FFFFFF;
}

#sign-up-form {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

#sign-up-form input {
    padding: 11px;
    width: 100%;
    border: 1px solid #F0F1F3;
    border-radius: 5px;
    font-size:15px;
    outline: none;
}

#sign-up-name-div {
    width: 100%;
    display: flex;
    background-color: #FFF;
    justify-content: space-between;
}

#first-name {
    margin-right: 10px;
}

#sign-up-email {
    border-radius: 5px;
    margin-bottom: 16px;
}

#sign-up-button {
    width: 194px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background-color: #36A420;
    padding: 16px;
    margin-top: 20px;
    cursor: pointer;
}