#post-comment {
    /* padding: 0 16px; */
    background-color: #FFF;
}

#post-comment ul li {
    list-style: none;
}
#comment-user-div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    background-color: #FFF;
}

#user-comment {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #FFF;
}

#user-comment a {
    background-color: #FFF;
}

#user-comment img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#comment-user-div img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#comment-form-div {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
}


#create-comment-form {
    width: 100%;
    /* background-color: #FFF; */
    display: flex;
    border-radius: 30px;
    align-items: center;
    margin-top: 5px;
    position: relative;
}

#create-comment-form input {
    width: 93%;
    height: auto;
    background-color: none;
    border: none;
    padding: 12px;
    border-radius: 30px;
    resize: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
}

#create-comment-form textarea::placeholder {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
}


#send-comment-disabled {
    border: none;
    
}

#send-comment-disabled i {
    border: none;
    font-size: 20px;
    color: #BEC3C9;
}

#send-comment-active {
    border: none;
}

#send-comment-active i {
    color: #056BE1;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#comment-and-user-name {
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

#comment-and-user-name a {
    text-decoration: none;
    background-color: transparent;
}


#comment-user-name {
    font-size: 13px;
    margin-bottom: 5px;
}

#comment-content {
    font-size: 15px;
}

#edit-comment-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit-comment-button button {
    border: none;
}

#edit-comment-button i {
    font-size: 16px;
    border: none;
}

#edit-delete-comment-container {
    position: absolute;
    right: -160px;
    display: flex;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(224, 218, 218);
    z-index: 1;
}

#edit-comment {
    display: flex;
    gap: 8px;
    background-color: #FFF;
}

#edit-comment i, 
#edit-comment button,
#delete-comment p,
#delete-comment button  {
    background-color: #FFF;
    font-size: 14px;
}

#edit-comment button {
    border: none;
    cursor: pointer;
}

#delete-comment {
    background-color: #FFF;
    display: flex;
    gap: 8px;
}

#delete-comment p {
    cursor: pointer;
}

#delete-comment i {
    font-size: 16px;
}
#delete-comment button {
    border: none;
    cursor: pointer;
}

/*Delete comment Modal */


#delete-comment-container {
    border-radius: 10px;
    background-color: #FFF;
    /* padding: 16px; */
}

#delete-comment-container h3 {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #F0F1F3;
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
}
#delete-comment-container p {
    background-color: #FFF;
    padding: 0 16px 16px 16px;
    font-size: 14px;
    margin: 16px 0;
}
#delete-comment-container button {
    /* background-color: #FFF; */
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


#delete-comment-button-div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    background-color: #FFF;
    margin: 16px 16px;
}

#cancel-delete {
    color: #1A6ED8;
    cursor: pointer;
    background-color: #FFF;
}

#cancel-delete:hover {
    background-color: #F0F2F5;
}

#confirm-delete {
    background-color: #1A6ED8;
    color: #FFF;
    cursor: pointer;
}


#add-comment-error-div {
    background-color: #FFF;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: -70px;
    top: -8px;
    box-shadow: 0 0 10px rgb(224, 218, 218);
}

#add-comment-error-div p {
    font-size: 12px;
    color: red;
    background-color: #FFF;
}

#create-comment-div {
    padding: 0 16px;
    background-color: #FFF;
}