#user-profile-container {
    padding-top: 56px;
    display: flex;
    position: relative;
}

#user-profile-left {
    width: fit-content;
    position: fixed;
    top: 56px;
    height: 100%;
    padding: 20px 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#user-profile-left i {
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#user-profile-left a {
    background-color: transparent;
    border-radius: 5px;
}

#userprofile-home-link {
    padding: 10px;
    border-radius: 5px;
}

#userprofile-user-link {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#userprofile-user-link a:hover,
#userprofile-user-link i:hover,
#userprofile-user-link img:hover,
#userprofile-user-link:hover,
#userprofile-home-link:hover {
    background-color: #E4E6E8;
}

#user-profile-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    position: absolute;
}

#userprofile-user-link img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#user-intro {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cover-photo {
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: center;
    background: rgb(197,228,195);
    background: linear-gradient(180deg, rgba(197,228,195,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    /* background: rgb(255,192,203);
    background: linear-gradient(180deg, rgba(255,192,203,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); */
    
}

#cover-photo-img {
    width: 80%;
    border-radius: 0 0 10px 10px;
    height: 360px;
    overflow: hidden;
    display: flex;
}

#cover-photo-img img {
    width: 100%;
    border-radius: 0 0 10px 10px;
    object-fit: cover;

}

#profile-picture {
    display: flex;
    gap: 20px;
    width: 100%;
    position: absolute;
    bottom: 125px;
    padding-left: 15%;
    background: transparent;
}

#profile-picture img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}



#posts-photos {
    display: flex;
    background-color: #FFF;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
    /* padding: 8px 20px; */
    border-top: 1px solid #E4E6EB;
    margin-bottom: 20px;
}



#posts-photos a {
    text-decoration: none;
    background-color: #FFF;
    cursor: pointer;
    padding: 15px;
}

/* #posts-photos a:hover {
    background-color: #E4E6E8;
} */

.active {
    color: #1674EA;
    border-bottom: 3px solid #1674EA;
}

.active:hover {
    background-color: #E4E6E8
}

#active-navlink-div {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #FFF;    
    padding: 3px 10px 0 10px;;

}

#active-navlink-div p {
    padding: 10px 10px 10px 10px;
    background-color: #FFF;
    border-radius: 5px;
}

#active-navlink-div a {
    padding: 5px;
}

#active-navlink-div p:hover {
    background-color: #E4E6E8;
}


#edit-profile-div {
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    margin-left: 10px;

}

#edit-profile-div h4 {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
}



#edit-profile-div i {
    background-color: #FFF;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 70px;
}

#edit-profile-div button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#user-info-post-container {
    display: flex;
    padding: 20px 10% 10% 10%;
    grid-gap: 20px;
    /* gap: 20px; */
    width: 100%;
    justify-content: space-between;
    /* max-width: 80%; */
}

#userinfo {
    width: 30%;
}

#userposts {
    width: 65%;
    max-width: 680px;
}

#userposts > div {
    width: 100%;
}