#user-home-container {
    padding-top: 56px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;
    flex-shrink: 1;
}

#userhome-left {
    width: 300px;
    position: fixed;
    top: 56px;
    height: 100%;
    padding: 20px 10px;
}

#userhome-home-link {
    display: flex;
}

#userhome-user-link {
    display: flex;
}

#userhome-user-link img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#userhome-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    padding: 20px;
    /* position: absolute;
    top: 56px;
    z-index: 1; */
}

#post-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.post-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: pink;
    padding: 20px;
}

#post-list-div {
    width: 100%;
}

#userhome-right {
    width: 360px;
    position: fixed;
    top: 56px;
    right: 0px;
    height: 100%;
    align-content: right;
}

#user-img-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#user-profile-container {
    padding-top: 56px;
    display: flex;
    position: relative;
}

#user-profile-left {
    width: 50px;
    position: fixed;
    top: 56px;
    height: 100%;
    padding: 20px 10px;
}

#user-profile-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-intro {
    position: relative;
}

#profile-picture {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 30px;
    background: transparent;

}
#profile-picture img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}


#post-content img {
    max-width: 680px;
}