#user-home-container {
    padding-top: 56px;
    position: relative;
}

#userhome-left {
    width: 25%;
    position: fixed;
    top: 56px;
    height: 100%;
    padding: 20px 10px;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    #userhome-left {
        display: none;
    }

    #userhome-right {
       display: none;
    }
}

#userhome-left a {
    text-decoration: none;
}


#userhome-home-link {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

#userhome-home-link:hover {
    background-color: #E4E6E8;
}

#userhome-home-link i,
#userhome-home-link p {
    background-color: transparent;
}


#userhome-home-link i {
    font-size: 20px;
}


#userhome-user-link {
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

#userhome-user-link:hover {
    background-color: #E4E6E8;
}

#userhome-user-link i,
#userhome-user-link p {
    background-color: transparent;
}

#userhome-user-link img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


#userhome-home-link p, 
#userhome-user-link p {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#userhome-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 25% 0 25%;
    position: absolute;
}

@media (max-width: 700px) {
    #userhome-middle {
        padding: 20px 10px 10px 10px;
    }
}



#userhome-right {
    width: 25%;
    position: fixed;
    top: 56px;
    right: 0px;
    height: 100%;
    align-content: right;
    padding: 10px;
}

#post-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

#post-list-container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#user-img-name {
    position: relative;
}

#user-img-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#user-img-name button {
    background-color: #FFF;
    border: none;
}

#edit-post-div {
    background-color: #F0F2F5;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#edit-post-div i {
    background-color: #F0F2F5;
    cursor: pointer;
}


#content p {
    background-color: #FFF;
}

#content {
    margin: 10px 0;
}

#img-post {
    margin-bottom: 10px;
    background-color: #FFF;
}

#img-post img {
    min-width: 100%;
    max-width: 100%;
}

#video-post {
    width: 100%;
    height: 360px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#video-post div {
    max-width: 100%;
    max-height: 100%;
}

#create-post-div {
    width: 100%;
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#create-post-div a {
    background-color: #FFF;
}

#create-post-div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#create-post-div button {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 30px;
    text-align: left;
    cursor: pointer;
}