#user-photos-ul {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding:50px 8%;

}

#user-photos-li {
    width: 30%;
    list-style: none;
    display: flex;
    align-items: center;
}

#user-photos-li a{
    width: 100%;
    height: fit-content;
    list-style: none;
}


#image-post {
    width: 100%;
    height: fit-content;
}

#image-post img{
    width: 100%;
    /* height: 100%; */
}

#youtube-video-post {
    width: 100%;
    height: 100%;
}



#youtube-video-post > div{
    width: 100%;
    height: 190px;
}

#user-video-post {
    min-width: 100%;
    max-width: 100%;
    /* height: 360px; */
}

#user-video-post video{
    min-width: 100%;
    max-width: 100%;
}
