<form method="post" action="">
    {{ form.csrf_token }}
    <p>{{form.profile_photo.label}}: {{form.profile_photo}}</p>
    <p>{{form.biography.label}}: {{form.biography}}</p>
    <p>{{form.cover_photo.label}}: {{form.cover_photo}}</p>
    <p>{{form.occupation.label}}: {{form.occupation}}</p>
    <p>{{form.hometown.label}}: {{form.hometown}}</p>
    <p>{{form.city.label}}: {{form.city}}</p>
    <p>{{form.country.label}}: {{form.country}}</p>
    <p>{{form.website.label}}: {{form.website}}</p>
    <p>{{form.facebook.label}}: {{form.facebook}}</p>
    <p>{{form.twitter.label}}: {{form.twitter}}</p>
    <p>{{form.instagram.label}}: {{form.instagram}}</p>
    <p>{{form.pinterest.label}}: {{form.pinterest}}</p>
    <p>{{form.tumblr.label}}: {{form.tumblr}}</p>
    <p>{{form.submit}}</p>
</form>
